* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #B2DFDB;
  font-family: Verdana, sans-serif;
}

.calculator-container {
  box-shadow: 9px 9px 4px 1px #515151;
  display: grid;
  grid-template-rows: 1fr 4fr;
  height: 450px;
  margin: 80px auto;
  width: 400px;
}

.display {
  align-items: flex-end;
  background-color: #FFFFFF;
  color: #757575;
  display: flex;
  font-size: 2rem;
  justify-content: flex-end;
  padding: 20px;
}

.display-content {
  height: 40px;
}

.buttons-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.buttons-container button {
  font-size: 1.5rem;
}

.number, .operator {
  border: none;
  color: #FFFFFF;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.number {
  background-color: #757575;
}

.number:hover {
  background-color: #848484;
}

.operators {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.operator {
  background-color: #009688;
}

.operator:hover {
  background-color: #00a898;
}

.keyboard-shortcuts {
  color: #212121;
  margin: 0 auto;
  width: 450px;
}

.keyboard-shortcuts h2 {
  margin-bottom: 20px;
  text-align: center;
}

.keyboard-shortcuts li {
  list-style-type: square;
}

@media screen and (max-width: 450px) {
  .calculator-container {
    height: 400px;
    width: 350px;
  }

  .keyboard-shortcuts {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .calculator-container {
    height: 350px;
    width: 300px;
  }
}
